<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="people" >
	<resultMap id="Result" type="Person">
		<id property="seq" column="seq" />
		<result property="name" column="name"/>
		<result property="level" column="levl"/>
		<result property="description" column="description"/>
	</resultMap>
	<select id="selectmap" resultType="map" resultMap="Result">
	    SELECT * from people
	</select>
	<select id="select" resultType="Person" parameterType="int" resultMap="Result">
	    SELECT * from people where seq=#{seq}
	</select>
	<select id="selectall" resultType="Person" resultMap="Result">
	    SELECT * from people
	</select>	
	<insert id="insert" parameterType="Person">
		INSERT INTO PEOPLE(SEQ,NAME,LEVL,DESCRIPTION) VALUES(SEQUENCE1.nextval, #{name}, #{level}, #{description}) 	    
	</insert >
<!-- 	insert keyProperty="seq" useGeneratedKeys="true"-->
	<update id="update" parameterType="Person">
		UPDATE village SET name=#{name}, district =#{district} WHERE id =#{id}  	    
	</update>
	
	<delete id="deleteVillage" parameterType="int">
		DELETE FROM village WHERE id =#{id}  	    
	</delete>
</mapper>